.myheader{
    font-size:30px;
    text-align:left;
    background:#50C878;
}
.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
}
footer{
    font-size:medium;
    text-align:center;
}
